/* header{
    border: solid 2px black;
} */

/* .container{
    border: solid 2px black;
} */

#title{
    font-size: larger;
}

#header-description{
    font-style: italic;
}

#history{
    cursor: default;
}

.uv-green{
    color: green;
}

.uv-orange{
    color: orange;
}

.uv-red{
    color: red;
}

footer{
    font-size: small;
}